<div class="row">
    <div class="col-sm-6 ps-4">
        <h1 class="banner-title mt-5 pt-4 mb-0">Welcome !</h1>
        <h1>to Go Programming Hub</h1>
    </div>
    <div class="col-sm-6 ps-4 text-left">
        <img class="banner-img" src="assets/images/go-lang.gif" data-bs-toggle="tooltip" data-bs-placement="bottom"
            title="The Image is NOT OWNED by GoProgrammingHub.com. Image Source: http://kirael-art.deviantart.com/art/Go-lang-Mascot-458285682" />
    </div>
</div>
<div class="row mt-5">
    <div class="col-lg-12 p-4">
        <h2>Featured Posts</h2>
    </div>
    <div class="col-lg-12 mt-2 mb-4">
        <app-featured-post></app-featured-post>
    </div>
</div>
<div class="row mt-3">
    <div class="col-sm-12 p-4">
        <h2>Go Language IDE</h2>
    </div>
    <div class="col-sm-12 mt-2 mb-4">
        <app-lang-ide></app-lang-ide>
    </div>
</div>